#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=ens33 --ipv6=auto --activate
network  --hostname=jenkins.example.com

# Root password
rootpw --iscrypted $6$eA5Y5zrcNU1Tjbq9$jc8INqRO.lzm1wrYpEzwo39KuQysxvY598UF3edaC5z/9Nrec.Z6jUpg9k.fmHsC3ytX4XWk0aM8qFBPf7vsn0
# System services
services --disabled="chronyd"
# System timezone
timezone Asia/Kolkata --isUtc --nontp
user --name=jenkins --password=$6$SWk7rFAt4bZL2qMT$knXpEqNbU8KiiV7ORau63j.VPJnVJNe3hZTVcdt0yiii4kEpSZtZFZWJ2V6hR7Q5IfdxcUtJQwUz4/4EsCfSc1 --iscrypted --gecos="jenkins"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=sda

%packages
@^minimal
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
